executing==2.1.0
pexpect==4.9.0
decorator==5.1.1
traitlets==5.14.3
nest-asyncio==1.6.0
ptyprocess==0.7.0
parso==0.8.4
ipython==8.31.0
jedi==0.19.2
jupyter_client==8.6.3
asttokens==3.0.0
pyzmq==26.2.0
appnope==0.1.4
stack-data==0.6.3
psutil==6.1.1
jupyter_core==5.7.2
python-dateutil==2.9.0.post0
wcwidth==0.2.13
prompt_toolkit==3.0.48
comm==0.2.2
pure_eval==0.2.3
tornado==6.4.2
matplotlib-inline==0.1.7
platformdirs==4.3.6
ipykernel==6.29.5
debugpy==1.8.11
six==1.17.0
propcache==0.3.2
jupyterlab==4.4.10
threadpoolctl==3.6.0
LaoNLP==1.2.0
uri-template==1.3.0
rfc3339-validator==0.1.4
GitPython==3.1.45
pythainlp==5.1.2
pip==25.2
fqdn==1.5.1
requests==2.32.5
idna==3.10
babel==2.17.0
tokenizers==0.22.1
urllib3==2.5.0
charset-normalizer==3.4.3
pyarrow==21.0.0
kiwisolver==1.4.8
flatbuffers==25.2.10
grpcio==1.74.0
aiohttp==3.12.15
lark==1.3.1
isoduration==20.11.0
pydantic==2.12.3
nltk==3.9.1
unicodedata2==15.1.0
pytz==2025.2
gensim==4.3.3
scipy==1.13.1
json5==0.12.1
fonttools==4.55.3
narwhals==2.9.0
torchmetrics==1.8.2
optree==0.17.0
scikit-learn==1.7.2
webencodings==0.5.1
colorama==0.4.6
tinycss2==1.4.0
jsonschema-specifications==2025.9.1
sentry-sdk==2.42.1
astunparse==1.6.3
h5py==3.14.0
opt_einsum==3.4.0
defusedxml==0.7.1
anyio==4.11.0
google-pasta==0.2.0
jupyterlab_server==2.28.0
attrs==25.3.0
async-lru==2.0.5
torch==2.8.0
websocket-client==1.9.0
huggingface-hub==0.35.3
filelock==3.19.1
seaborn==0.13.2
multidict==6.6.4
smart_open==7.3.1
evaluate==0.4.6
jupyter-console==6.6.3
lightning-utilities==0.15.2
plotly==6.3.1
sklearn-crfsuite==0.5.0
jupyter==1.1.1
bleach==6.3.0
maturin==1.9.6
gast==0.6.0
cffi==2.0.0
protobuf==6.32.1
tqdm==4.67.1
pandocfilters==1.5.1
portalocker==3.2.0
jsonpointer==3.0.0
tzdata==2025.2
numpy==1.26.4
certifi==2025.8.3
httpcore==1.0.9
ml_dtypes==0.5.3
tensorflow==2.20.0
rich==14.1.0
webcolors==25.10.0
nbformat==5.10.4
yarl==1.20.1
regex==2025.9.1
sympy==1.14.0
jsonschema==4.25.1
multiprocess==0.70.16
markdown-it-py==4.0.0
hf-xet==1.1.10
Werkzeug==3.1.3
xxhash==3.5.0
nbconvert==7.16.6
pyparsing==3.2.0
wrapt==1.17.3
absl-py==2.3.1
notebook==7.4.7
cycler==0.11.0
Send2Trash==1.8.3
python-json-logger==4.0.0
namex==0.1.0
nbclient==0.10.2
h11==0.16.0
gitdb==4.0.12
sniffio==1.3.1
setuptools==80.9.0
sentencepiece==0.2.1
mdurl==0.1.2
networkx==3.5
python-dateutil==2.9.0.post0
mpmath==1.3.0
jupyterlab_pygments==0.3.0
PyYAML==6.0.3
soupsieve==2.8
rfc3987-syntax==1.1.0
torchtext==0.6.0
sacrebleu==2.5.1
torchsummary==1.5.1
Brotli==1.0.9
jupyter-events==0.12.0
ipywidgets==8.1.8
tensorboard==2.20.0
typing_extensions==4.15.0
aiosignal==1.4.0
fastjsonschema==2.21.2
click==8.2.1
python-crfsuite==0.9.11
libclang==18.1.1
packaging==25.0
fsspec==2025.9.0
argon2-cffi==25.1.0
jupyter_server==2.17.0
pytorch-lightning==2.5.5
Jinja2==3.1.6
wheel==0.45.1
widgetsnbextension==4.0.15
referencing==0.37.0
tornado==6.5.1
jupyterlab_widgets==3.0.16
argon2-cffi-bindings==25.1.0
matplotlib==3.10.6
transformers==4.56.2
dill==0.4.0
termcolor==3.1.0
Markdown==3.9
wandb==0.22.2
Pygments==2.19.2
rfc3986-validator==0.1.1
aiohappyeyeballs==2.6.1
terminado==0.18.1
pyvi==0.1.1
rpds-py==0.29.0
contourpy==1.3.1
jupyter-lsp==2.3.0
httpx==0.28.1
smmap==5.0.2
keras==3.11.3
pillow==11.3.0
tensorboard-data-server==0.7.2
prometheus_client==0.23.1
jupyter_server_terminals==0.5.3
lxml==6.0.2
pydantic_core==2.41.4
beautifulsoup4==4.14.2
typing-inspection==0.4.2
joblib==1.5.2
annotated-types==0.7.0
safetensors==0.6.2
datasets==4.1.1
arrow==1.4.0
pandas==2.3.2
six==1.17.0
pycparser==2.23
mistune==3.1.4
tabulate==0.9.0
notebook_shim==0.2.4
frozenlist==1.7.0
MarkupSafe==3.0.2
